.header {
    @import (multiple) "__variables.less"; //@header-height
    @font-size: 28px;

    justify-content: flex-end;
    width: 100%;
    z-index: 1;
    height: @header-height;
    font-size: @font-size;
    font-weight: 300;
    padding: (@header-height - (1.5 * @font-size)) / 2;
}
.sticky.header {
    position: fixed;
}

.header > .item {
    display: inline-block;
    padding-left: 24px;
    align-self: baseline;
}
.header > .left {
    margin: 0;
    padding-left: 0px;
}
.message.global.cookie {
	display: none !important;
}